DATABASE_URL=postgresql://user:password@localhost:5432/dbname
SECRET_KEY=

MINIO_ENDPOINT=localhost:9000
MINIO_ACCESS_KEY=
MINIO_SECRET_KEY=
MINIO_BUCKET=

POSTGRES_USER=
POSTGRES_PASSWORD=
POSTGRES_DB=

PGADMIN_EMAIL=
PGADMIN_PASSWORD=

MINIO_ROOT_USER=
MINIO_ROOT_PASSWORD=